.acessibillity-bar {
  padding-top: 12px;
  padding-bottom: 12px;

  background: #1d1d1d;
  transition: 0.3s;

  @media (max-width: 991.98px) {
    display: none;
  }

  &.fixed {
    background-color: var(--grey-scale-01);
  }

  .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .left-top-header {
      display: flex;
      align-items: center;

      p {
        color: var(--text-grey-scale-03);
        font-size: rem(12);
        display: flex;
        align-items: center;
        font-weight: 700;
        letter-spacing: 0.5px;

        &::after {
          content: "";
          display: block;
          height: 13px;
          width: 1px;
          background-color: var(--text-grey-scale-03);
          margin-left: 8px;
          margin-right: 8px;
        }
      }

      a {
        color: var(--text-grey-scale-03);
        text-decoration: none;
        letter-spacing: 0.5px;
        font-size: rem(12);
        text-decoration: underline;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .right-top-header {
      display: flex;
      align-items: center;
      gap: 40px;

      .accessibility-tools {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        #usuLogado {
          color: var(--text-grey-scale-03);
          font-size: 0.75rem;
          margin-right: 28px;
        }

        & > a {
          margin-right: 8px;
          display: block;
          line-height: 0;

          text-decoration: none;
          color: var(--text-grey-scale-03);

          line-height: 0;

          small {
            color: #eeee;
            font-size: rem(12);
            font-weight: 400;
            font-family: var(--font-verdana);
            line-height: 0;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        .tool {
          border: none;
          border-radius: 4px;

          padding-left: 0px;
          padding-right: 0px;

          cursor: pointer;

          text-align: center;
          text-decoration: none;
          vertical-align: middle;

          background-color: transparent;

          &:not(:last-of-type) {
            margin-right: 8px;
          }
          [class^="icon-"] {
            display: block;

            font-size: rem(16);
            color: var(--text-grey-scale-03);
          }
        }
      }

      .drop-idiomas {
        .dropdown-toggle {
          display: flex;
          align-items: center;
          font-size: rem(12);
          color: var(--text-white);

          &:before {
            content: "\e908";
            font-family: var(--font-icomoon);
            margin-right: 4px;
          }

          &::after {
            content: "\e900";
            font-family: var(--font-icomoon);
            display: block;
            border: none;
            height: 18px;
            transition: 0.3s ease;
            margin-left: 4px;
            display: none;
          }

          &.show {
            color: var(--text-white);

            &::after {
              transform: rotate(180deg);
            }
          }
        }

        a {
          text-decoration: none;
        }

        .dropdown-menu {
          min-width: auto;
          width: 100%;
          padding: 2px 0;
          background-color: var(--primary-01-default);
          border: 1px solid var(--primary-01-default);

          ul {
            padding: 0;
            margin-bottom: 0;

            li {
              a {
                padding: 2px 15px;
                line-height: normal;

                span {
                  margin-right: 8px;
                }

                &:hover,
                &:focus,
                &:active {
                  background-color: initial;
                }
              }

              span {
                font-size: rem(12);
                color: var(--text-white);
              }
            }
          }
        }
      }
    }
  }
}

.headerFixoMenu.not-transparent {
  .acessibillity-bar {
    background-color: var(--secondary-2);
  }
}

.searchbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transform: translateY(-100%);

  padding: 32px 0;

  z-index: 1000;

  background-color: var(--pure-white);
  transition: transform 0.2s linear;

  &.active {
    transform: translate(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }

  .input-group {
    position: relative;
    margin-bottom: 6px;

    border-bottom: 1px solid var(--text-grey-scale-02);
    color: var(--text-white);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;

      width: 0;
      height: 1px;

      transition: 0.4s;
      background-color: var(--text-azul-1);
    }

    &.focused-border::after {
      width: 100%;
      transition: 0.4s;
      z-index: 99;
    }

    .form-control {
      box-shadow: none;

      border: none;
      border-radius: 0;

      padding-left: 0;
      padding-right: 0;

      font-size: rem(19px);
      line-height: rem(26px);

      color: var(--text-color);
      background-color: transparent;

      &::placeholder {
        color: var(--text-azul-1);
        font-weight: 400;
      }
    }

    .input-group-text {
      border: none;
      border-radius: 0;

      background-color: transparent;

      button {
        border: 0;
        padding: 0;

        background-color: transparent;

        [class^="icon-"] {
          display: block;

          font-size: rem(22);

          &::before {
            color: var(--text-azul-3);
            transform: rotate(45deg);
            display: block;
          }
          transition: color var(--transition);
        }
      }
    }
  }

  .search-help {
    small {
      color: var(--text-color);
      font-size: rem(12);
      letter-spacing: 0.5px;
    }
  }
}

.modal {
  .modal-content {
    padding: 24px;
  }
  .modal-dialog {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 8px;
  }
  .header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin-bottom: 0;
      font-weight: 700;
      color: var(--text-primary-1);
    }

    button {
      background-color: transparent;
      border: none;

      img {
        filter: brightness(0) invert(23%) sepia(99%) saturate(1669%)
          hue-rotate(205deg) brightness(91%) contrast(95%);
      }
    }
  }
  .modal-body {
    padding: 0;

    iframe {
      width: 100%;
    }
  }
}

#loginModal,
#modalCadastro,
#forgotModal {
  .modal-body {
    h6 {
      font-size: rem(14);
    }

    > p {
      margin-top: 24px;
      margin-bottom: 32px;
      color: var(--text-color);
      font-size: rem(14);
    }
  }
}

.body-alert-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  img {
    max-width: 60px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  h5 {
    font-size: rem(16);
    color: var(--system-positive);
    margin: 0;
  }
}

.termos-politica {
  position: fixed;
  width: 100%;
  z-index: 200;
  background-color: var(--pure-white);
  padding: 16px 0;
  bottom: 49px;
  box-shadow: 0 1px 10px 2px rgb(0 0 0 / 20%);

  h3 {
    margin-top: 0;
  }

  small {
    display: block;
  }

  .primary-button {
    margin-top: 16px;
  }
}

.form-control:focus {
  background-color: initial !important;
}

.portal-investidor {
  a {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
  }

  span {
    font-size: rem(12);
    font-family: Verdana;
    font-weight: 400;
    word-wrap: break-word;
    color: rgba(238, 238, 238);
    line-height: 0;
  }
}
