.nav-calendario{
    padding: 0;
    max-width: 230px;
    margin: 0 auto;

    .slick-list{
        padding: 0 !important;

        li{
            text-align: center;
            color: var(--text-primary-01-var-01);
            font-size: rem(18);
        }
    }

    .slick-arrow{
        top: 39%;

        &::before{
            content: "";
            font-family: var(--font-icomoon);
            color: var(--text-primary-01-var-01);
            font-size: rem(28);
        }
    }

    .slick-next{
        &::before{
            content: "\e909";
        }
    }
    .slick-prev{
        &::before{
            content: "\e908";
        }
    }
}

.ui-datepicker-header{
    padding: 16px 8px;
    background-color: var(--grey-scale-01);

    display: flex;
    justify-content: center;
    gap: 16px;

    .ui-corner-all{
        display: flex;
        align-items: center;

        .ui-icon{
            height: 16px;
            width: 20px;
            display: block;

            &::after{
                content: url("../images/icons/icon-arrow-right.svg");
                display: block;
                height: 16px;
            }
        }

        &.ui-datepicker-prev {
            .ui-icon{
                transform: rotate(180deg);
            }
        }

        &.ui-datepicker-next {
            order: 3;
        }
    }

    .ui-datepicker-title{
        text-align: center;

        span{
            font-size: rem(18);
            color: var(--text-secondary-01-default);
            font-weight: 600;

            &:nth-child(1){
                &::after{
                    content: " /";

                }
            }
        }
    }
}

.ui-datepicker-calendar{
    width: 100%;

    thead{
        th{
            background-color: var(--primary-01-default);
            color: var(--text-white);
            font-size: rem(14);
            padding: 7px 14px;
            text-align: center;
        }
    }

    tbody{
        td{
            a{
                
                color: var(--text-color) !important;
                text-decoration: none;
                text-align: center;
                display: block;
                padding: 7px 14px;

                &.yellow{
                    color: #FFC700;
                    border: 2px solid #FFC700;
                }

                &.blue{
                    color: #0EB7FF;
                    border: 2px solid #0EB7FF;
                }

                &.pink{
                    color: #E763D9;
                    border: 2px solid #E763D9;
                }

                &.green{
                    color: #2EDA92;
                    border: 2px solid #2EDA92;
                }
            }
        }
    }
}

.list-proximos-eventos{
    padding: 0;
    margin-top: 24px;

    li{
        display: flex;
        gap: 8px;
        padding-bottom: 16px;
        padding-top: 16px;

        
        @media (max-width: 767px){
            flex-direction: column;
            gap: 0;
        }

        &:not(:last-child){
            border-bottom: 1px solid var(--text-grey-scale-01);
        }

        .date{
            span{
                display: block;
                color: var(--text-secondary-01-default);
                text-transform: uppercase;
                font-weight: 700;
            }

            
            @media (max-width: 767px){
                display: flex;
                gap: 5px;
            }
        }

        .text{
            flex: 1;

            p{
                margin: 0;
                &:last-child{
                    font-size: rem(14);
                }
            }
        }

        .links{
            flex: none;
            display: flex;
            flex-direction: column;
            gap: 8px;

            @media (max-width: 767px){
                display: flex;
                flex-direction: row;
                margin-top: 18px;
            }
        }
    }
}