:root {
  // Font Family

  --font-text-1: "Raleway";
  --font-icomoon: "Icomoon";
  --font-verdana: "Verdana";
  --font-verdana-bold: "Verdana Bold";
  --font-crimsom: "Crinsom foam";
  // Text Colors

  --text-color: #4d4d4d;

  --text-white: #ffffff;
  --text-black: #0d0d0d;

  --text-primary-01-default: #202020;
  --text-primary-01-var-1: #3b3b3b;
  --text-primary-01-var-2: #545454;

  --text-secondary-01-default: #8f8f8f;
  --text-secondary-01-var-1: #a8a8a8;
  --text-secondary-01-var-2: #cccccc;

  --text-grey-scale-00: #ffffff;
  --text-grey-scale-01: #f1f1f1;
  --text-grey-scale-02: #e2e2e2;
  --text-grey-scale-03: #c6c6c6;
  --text-grey-scale-04: #ababab;
  --text-grey-scale-05: #919191;
  --text-grey-scale-06: #848484;
  --text-grey-scale-07: #767676;
  --text-grey-scale-08: #6f6f6f;
  --text-grey-scale-09: #5e5e5e;

  --text-grey-scale-c4: #c4c4c4;

  --text-system-disabled: #d9d9d9;

  --text-system-link: #1a0dab;
  --text-system-focus: #2e82e5;
  --text-system-link-visited: #1b1466;
  --text-system-negative: #d23a20;
  --text-system-alert: #ecb307;
  --text-system-positive: #1e986f;

  // Solid Colors

  --pure-white: #ffffff;
  --pure-black: #0d0d0d;

  --primary-01-default: #202020;
  --primary-01-var-1: #3b3b3b;
  --primary-01-var-2: #545454;

  --secondary-01-default: #8f8f8f;
  --secondary-01-var-1: #a8a8a8;
  --secondary-01-var-2: #cccccc;

  --grey-scale-00: #ffffff;
  --grey-scale-01: #f1f1f1;
  --grey-scale-02: #e2e2e2;
  --grey-scale-03: #c6c6c6;
  --grey-scale-04: #ababab;
  --grey-scale-05: #919191;
  --grey-scale-06: #848484;
  --grey-scale-07: #767676;
  --grey-scale-08: #6f6f6f;
  --grey-scale-09: #5e5e5e;

  --system-disabled: #d9d9d9;

  --system-link: #1a0dab;
  --system-focus: #2e82e5;
  --system-link-visited: #1b1466;
  --system-negative: #d23a20;
  --system-alert: #ecb307;
  --system-positive: #1e986f;
}
